pip==20.0.*
#wheel==0.33.6
#watchdog==0.9.0
#flake8==3.7.8
#tox==3.14.0
#coverage==4.5.4
#Sphinx==1.8.5
#twine==1.14.0

##############################################
# we'll if the stuff above is required by 
# pypi and co.
##############################################

pytest==5.*
jsonschema==3.*
beautifulsoup4==4.*
PyYAML==5.*
Jinja2==2.*
requests==2.*
responses==0.10.*

