###########################################
# use timeout-decorator to limit maximum rutimes on assertEqual
# this is optional, but large diffs DO time out on assertEqual
# this has nothing to do with lazy tests themselves except that 
# regularly throw large files with plenty of diffs at the system
#########################################

timeout-decorator==0.4.*
